@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@import './theme.css' layer(theme);

@theme {
    --breakpoint-xl: 1330px;
    --container-7xl: 1330px;
}

/* custom popover transparent */
.custom-popover-content {
    background-color: transparent;
    box-shadow: none;
}

.custom-popover-arrow {
    display: none;
}
.antd-custom .ant-input-number input {
    text-align: center !important;
}

.quantity--input .ant-input-number-input {
    text-align: center;
}
