@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@import './theme.css' layer(theme);

/* custom popover transparent */
.custom-popover-content {
    background-color: transparent;
    box-shadow: none;
}

.custom-popover-arrow {
    display: none;
}
